nav.navbar.main-nav.navbar-fixed-top
    .navbar-header
        a.navbar-brand(href='/') Warlords SkillRating
    form.form-inline(action = "player")
        input.form-control.mr-sm-2(type='text', placeholder='Playername', name= "name")
        button.btn.btn-primary.my-2.my-sm-0(type='submit') Search
