.footer-top
	.container
		.row
			.col-sm-5
				h2 Warlords SR
				p A skillrating system for the gamemode Warlords on the Hypixel-Network.

			.col-sm-4
				.row
					br
					br
					br

			.col-sm-3
				h2 Rechtliches
				a(href='#') Datenschutz
				br
				a(href='/impressum') Impressum
				br
				br
				p © 2017 unaussprechlich