extends table

block table
  tr
    th(scope="col") #
    th(scope="col") Name
    th(scope="col") SR
    th(scope="col") K/D
    th(scope="col") KA/D
    th(scope="col") DHP
    th(scope="col") W/L
    th(scope="col") Paladin
    th(scope="col") Mage
    th(scope="col") Shaman
    th(scope="col") Warrior
  tbody
    - var rank = 1
    for player in PLAYERS
      tr
        th(scope="row")= rank
        +td_item(player.name)
        +td_item(player.warlords_sr.SR)
        +td_item(player.warlords_sr.KD)
        +td_item(player.warlords_sr.KDA)
        +td_item(player.warlords_sr.DHP)
        +td_item(player.warlords_sr.WL)
        +td_item(player.warlords_sr.paladin.SR)
        +td_item(player.warlords_sr.mage.SR)
        +td_item(player.warlords_sr.shaman.SR)
        +td_item(player.warlords_sr.warrior.SR)
      - rank++