extends table


block table
  tr
    th(scope="col") #
    th(scope="col") Name
    th(scope="col") SR
    th(scope="col") WL
    th(scope="col") DHP
    th(scope="col") Pyromancer
    th(scope="col") WL
    th(scope="col") DHP
    th(scope="col") Cryomancer
    th(scope="col") WL
    th(scope="col") DHP
    th(scope="col") Aquamancer
    th(scope="col") WL
    th(scope="col") DHP
  tbody
    - var rank = 1
    for player in PLAYERS
      tr
        th(scope="row")= rank
        +td_item(player.name)
        +td_item(player.warlords_sr.mage.SR)
        +td_item(player.warlords_sr.mage.WL)
        +td_item(player.warlords_sr.mage.DHP)
        +td_item(player.warlords_sr.mage.pyromancer.SR)
        +td_item(player.warlords_sr.mage.pyromancer.WL)
        +td_item(player.warlords_sr.mage.pyromancer.DHP)
        +td_item(player.warlords_sr.mage.cryomancer.SR)
        +td_item(player.warlords_sr.mage.cryomancer.WL)
        +td_item(player.warlords_sr.mage.cryomancer.DHP)
        +td_item(player.warlords_sr.mage.aquamancer.SR)
        +td_item(player.warlords_sr.mage.aquamancer.WL)
        +td_item(player.warlords_sr.mage.aquamancer.DHP)
        - rank++