@charset "UTF-8";
/*!***********************************************
 * ┬® 2017 UNAUSSPRECHLICH ALL RIGHTS RESERVED   *
 ************************************************/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
#dismiss {
  width: 36px;
  height: 36px;
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: center; }
  #dismiss .fas {
    margin-top: 10px; }

#dismiss:hover {
  background-color: #23272A; }

.sidebar-wrapper {
  display: flex;
  width: 100%;
  align-items: stretch; }

#sidebar {
  min-width: 250px;
  max-width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  margin-left: -250px;
  background: #2C2F33;
  color: #ffffff;
  transition: all 0.3s; }
  #sidebar .sidebar-header {
    padding: 20px; }
    #sidebar .sidebar-header h3 {
      margin: 0; }
  #sidebar #searchPlayerButton {
    background-color: #17a2b8;
    color: #ffffff; }
  #sidebar form .input-group-append button {
    background-color: #17a2b8;
    color: #ffffff; }
  #sidebar ul p {
    color: #ffffff;
    padding: 10px; }
  #sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block; }
  #sidebar ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #23272A; }
  #sidebar ul li a:hover {
    color: #2C2F33;
    background: #ffffff; }
  #sidebar ul li.active > a, #sidebar a[aria-expanded="true"] {
    color: #ffffff;
    background: #23272A; }
  #sidebar ul li.active {
    border-left: #17a2b8 3px solid; }
  #sidebar .footer {
    padding: 10px;
    width: 250px;
    position: fixed;
    bottom: 0;
    background-color: #23272A; }
    #sidebar .footer a {
      font-weight: 100; }

#sidebar.active {
  margin-left: 0 !important; }

a[data-toggle="collapse"] {
  position: relative; }

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%); }

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px; }

  #sidebar.active {
    margin-left: 0; } }
/*!***********************************************
 * ┬® 2017 UNAUSSPRECHLICH ALL RIGHTS RESERVED   *
 ************************************************/
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  background: #fff; }

.preloader > i {
  position: absolute;
  font-size: 36px;
  line-height: 36px;
  top: 50%;
  left: 50%;
  height: 36px;
  width: 36px;
  margin-top: -15px;
  margin-left: -15px;
  display: inline-block; }

/* Sidebar */
/*!***********************************************
 * ┬® 2017 UNAUSSPRECHLICH ALL RIGHTS RESERVED   *
 ************************************************/
#classaccordion .card-body p {
  margin-bottom: 0; }

.playerside {
  margin-top: 40px; }

.accordion .card-body {
  margin-top: 15px; }
  .accordion .card-body .statstable {
    margin-top: 15px; }
    .accordion .card-body .statstable th, .accordion .card-body .statstable td {
      padding: 7px; }
  .accordion .card-body .divider {
    height: 1px;
    width: 100%;
    display: block;
    margin: 15px 0;
    overflow: hidden;
    background-color: #e5e5e5; }
  .accordion .card-body .spec h4 {
    display: inline-block; }
    .accordion .card-body .spec h4 span {
      font-weight: normal; }

.card-header h3 {
  display: inline-block; }
  .card-header h3 span {
    font-weight: 100; }

.sr {
  margin-left: 15px;
  display: inline-block;
  width: 91px;
  border-width: 3px !important;
  position: absolute;
  right: 1.25rem; }
  .sr div {
    display: inline-block;
    margin: 0; }
    .sr div p {
      margin: 0;
      font-weight: bold; }
  .sr .srtext {
    padding-left: 5px;
    padding-right: 5px; }
  .sr .srvalue {
    position: absolute;
    right: 0;
    width: 55px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: right; }

.sr.bronze {
  border-color: #905923 !important; }
  .sr.bronze .srvalue {
    background-color: #905923; }
    .sr.bronze .srvalue p {
      color: #ffffff; }

.sr.silver {
  border-color: #9498a1 !important; }
  .sr.silver .srvalue {
    background-color: #9498a1; }
    .sr.silver .srvalue p {
      color: #ffffff; }

.sr.platinum {
  border-color: #e5e4e2 !important; }
  .sr.platinum .srvalue {
    background-color: #e5e4e2; }

.sr.gold {
  border-color: #D4AF37 !important; }
  .sr.gold .srvalue {
    background-color: #D4AF37; }
    .sr.gold .srvalue p {
      color: #ffffff; }

.sr.diamond {
  border-color: #b9f2ff !important; }
  .sr.diamond .srvalue {
    background-color: #b9f2ff; }

.sr.master {
  border-color: #ff5c33 !important; }
  .sr.master .srvalue {
    background-color: #ff5c33; }
    .sr.master .srvalue p {
      color: #ffffff; }

.sr.grandmaster {
  border-color: #8f0000 !important; }
  .sr.grandmaster .srvalue {
    background-color: #8f0000; }
    .sr.grandmaster .srvalue p {
      color: #ffffff; }

body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa; }

p {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: #000000; }

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s; }

#main-nav .sidebar-toggler button {
  border: unset;
  border-radius: unset; }
#main-nav .navbar-brand {
  color: #ffffff;
  margin: 0 0 0 15px;
  font-weight: 100; }

.topspacing {
  margin-top: 35px; }

#content .container-fluid, #content .container {
  margin-top: 15px;
  margin-bottom: 15px; }

/*# sourceMappingURL=style.css.map */
