@import "shards/_footer";
@import "shards/_sidebar";
@import "shards/_preloader";
@import "shards/_navbar_main";
@import "shards/_player";

#content{
  margin-left: 65px;
}

.topspacing{
  margin-top: 35px;
}

#sr_table_wrapper{
  padding-top: 15px;
  padding-bottom: 15px;
}

