/* Sidebar */
@import "_var";

#classaccordion{
  .card-body{
    p {
      margin-bottom: 0;
    }
  }
}

.playerside{
  margin-top: 40px;
}

.accordion{
  .card-body{
    margin-top: 15px;

    .statstable{
      margin-top: 15px;
      th, td{
        padding: 7px;
      }
    }

    .divider {
      height: 1px;
      width:100%;
      display:block;
      margin: 15px 0;
      overflow: hidden;
      background-color: #e5e5e5;
    }

    .spec{
      h4{
        display: inline-block;
        span {
          font-weight: normal;
        }
      }
    }
  }
}

.card-header{
  h3{
    display: inline-block;
    span {
      font-weight: 100;
    }
  }
}

.sr{
  margin-left: 15px;
  display: inline-block;
  width: 91px;
  border-width: 3px !important;
  position: absolute;
  right: 1.25rem;

  div{
    display: inline-block;
    margin: 0;

    p{
      margin: 0;
      font-weight: bold;
    }
  }

  .srtext{
    padding-left: 5px;
    padding-right: 5px;
  }

  .srvalue{
    position: absolute;
    right: 0;
    width: 55px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: right;
  }
}

.sr.bronze{
  .srvalue{
    background-color: $bronze;
    p {
      color: #ffffff;
    }
  }
  border-color: $bronze !important;
}

.sr.silver{
  .srvalue{
    background-color: $silver;
    p {
      color: #ffffff;
    }
  }
  border-color: $silver !important;
}

.sr.platinum{
  .srvalue{
    background-color: $platinum;
  }
  border-color: $platinum !important;
}

.sr.gold{
  .srvalue{
    background-color: $gold;
    p {
      color: #ffffff;
    }
  }
  border-color: $gold !important;
}

.sr.diamond{
  .srvalue{
    background-color: $diamond;
  }
  border-color: $diamond !important;
}

.sr.master{
  .srvalue{
    background-color: $master;
    p {
      color: #ffffff;
    }
  }
  border-color: $master !important;
}

.sr.grandmaster{
  .srvalue{
    background-color: $grandmaster;
    p {
      color: #ffffff;
    }
  }
  border-color: $grandmaster !important;
}