@import "_var";

#dismiss {
  width: 36px;
  height: 36px;
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: center;
  .fas {
    margin-top: 10px;
  }
}

#dismiss:hover{
  background-color: $darker;
}

.sidebar-wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;

  margin-left: -250px;

  background: $dark;
  color: $white;
  transition: all 0.3s;

  .sidebar-header {
    padding: 20px;
    h3 {
      margin: 0;
    }
  }

  form .input-group-append button {
    background-color: $highlight;
    color: $white;
  }

  ul p {
    color: $white;
    padding: 10px;
  }

  ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
  }

  ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: $darker;
  }

  ul li a:hover {
    color: $dark;
    background: $white;
  }


  ul li.active > a, a[aria-expanded="true"] {
    color: #ffffff;
    background: $darker;
  }

  ul li.active {
    border-left: $highlight 3px solid;
  }

  .footer{
    padding: 10px;
    width: 250px;
    position: fixed;
    bottom: 0;
    background-color: $darker;
    a{
      font-weight: 100;
    }
  }

}

#sidebar.active {
  margin-left: 0 !important;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
}
