/*!***********************************************
 * © 2017 UNAUSSPRECHLICH ALL RIGHTS RESERVED   *
 ************************************************/

$dark : #2C2F33;
$darker : #23272A;
$highlight : #17a2b8;
$white : #ffffff;

$bronze : #905923;
$silver : #9498a1;
$platinum : #e5e4e2;
$gold : #D4AF37;
$diamond: #b9f2ff;
$master : #ff5c33;
$grandmaster: #8f0000;

$font_size : 17px;

@mixin fade($time){
  -o-transition: $time ease-in-out;
  -moz-transition: $time ease-in-out;
  -webkit-transition: $time ease-in-out;
  transition: $time ease-in-out;
}


